asttokens
attrs
blinker
certifi
charset-normalizer
click
colorama
comm
dash
dash-core-components
dash-html-components
dash-table
debugpy
decorator
exceptiongroup
executing
fastjsonschema
Flask
idna
importlib_metadata
ipykernel
ipython
itsdangerous
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
MarkupSafe
matplotlib-inline
nbformat
nest-asyncio
numpy
packaging
pandas
parso
patsy
platformdirs
plotly
plotly-express
prompt_toolkit
psutil
pure_eval
Pygments
python-dateutil
pytz
pywin32
pyzmq
referencing
requests
retrying
rpds-py
scipy
six
stack-data
statsmodels
tenacity
tornado
traitlets
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
zipp
gunicorn
